<div class="contenedor">
    <form>
        <div class="cabecera">
            <p class="titulo">Crea tu cuenta en HoraFlox</p>
            <p class="cerrar">╳</p>
        </div>
        <div>
            <hr class="divisor">
        </div>
        <div>
        </div>
        <p>Nombre</p>
        <input type="text" placeholder="Escribe tu nombre">
        <p>Apellidos</p>
        <input type="text" placeholder="Escribe tus apellidos">
        <p>Nombre de usuario</p>
        <input type="text" placeholder="Escribe tu nombre de usuario">
        <p>Contraseña</p>
        <input type="password" placeholder="Escribe tu contraseña">
        <input type="button" value="Registrarse">
    </form>
</div>