<div class="contenedor">
    <form>
        <div class="cabecera">
            <p class="titulo">Crea tu cuenta en HoraFlox</p>
            <p class="cerrar">╳</p>
        </div>
        <div>
            <hr class="divisor">
        </div>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellidos">
        <input type="text" placeholder="Nombre de usuario">
        <input type="password" placeholder="Contraseña">
        <button>Registrarse</button>
    </form>
</div>