<div class="contenedor">
    <form (submit)="registro()" [formGroup]="formularioRegistro">
        <div class="cabecera">
            <p class="titulo">Crea tu cuenta en HoraFlox</p>
            <p class="cerrar" (click)="cerrarFormulario()">╳</p>
        </div>
        <div>
            <hr class="divisor">
        </div>
        <input type="text" placeholder="Tu nombre" formGroupName="nombre">
        <input type="text" placeholder="Nombre de usuario" formGroupName="usuario">
        <input type="password" placeholder="Contraseña" formGroupName="contrasena">
        <input type="password" placeholder="Confirmar contraseña" formControlName="confirmarContrasena">
        <button>Registrarse</button>
    </form> 
</div> 