<div class="contenedor">
    <div class="formulario">
        <div>
            <p class="titulo">Registrar horas</p>
        </div>

        <form (submit)="agregarHorasExtras()" [formGroup]="horasExtras">
            <input class="fecha" type="date" placeholder="Introducir fecha" id="date" formControlName="date">
            <input type="number" placeholder="Introducir horas" id="hours" formControlName="horas">
            <input type="text" placeholder="Introducir descripción" id="descripcion" formControlName="descripcion">
        
            <button type="submit" class="agregar" (click)="aviso()">Agregar</button>
        
            <button class="cargar" (click)="cargarVista()">Ver horas realizadas</button>
        </form>
    </div>
</div> 