<div class="contenedor">
    <div class="contenido">
        <div class="contenedor-logo">
            <p class="logo">HoraFlox</p>
            <p class="descripcion-logo">¡Bienvenido a la mejor aplicación para el registro de horas de tu día a día o de tu trabajo en un sólo lugar!</p>
        </div>
        <div class="inicio-sesion">
            <form (submit)="login()" [formGroup]="formularioLogin">
                <input type="text" placeholder="Usuario" formControlName="usuario" spellcheck="false">
                <input type="password" placeholder="Contraseña" formControlName="contrasena">
                <button class="botonLogin" [disabled]="formularioLogin.invalid">Iniciar Sesión</button>
            </form>
            <hr class="divisor">
            <button class="registro" (click)="cambiarFormulario()">Crear una nueva cuenta</button>
        </div>
    </div>
</div> 

@if (formularioAbierto) {
    <registro (cerrarFormulario)="cerrarFormularioRegistro()"/>
}