<div class="contenedor">
    <div class="contenido">
        <div class="contenedor-logo">
            <p class="logo">HoraFlox</p>
            <p class="descripcion-logo">¡Bienvenido a la mejor aplicación para el registro de horas de tu día a día o de tu trabajo en un sólo lugar!</p>
        </div>
        <div class="inicio-sesion">
            <form>
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">
                <button>Iniciar Sesión</button>
            </form>
            <hr class="divisor">
            <button class="registro">Crear una nueva cuenta</button>
        </div>
    </div>
</div> 

<registro/>